body {
    background-color: #A67A57;
    color: #4B493C;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    font-size: larger;
}

article {
    background-color: #ECD0AE;
    margin: 12px 12px;
    padding: 0;
    font-family: "Monda", sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px #7E5D38;
}


.title-box{
    background-color: #4B493C;
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 30px;
    color: #E9E0CF;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content-box{
    padding: 12px;
}

.sign {
    font-family: "Satisfy", cursive;
    text-align: right;
}

.space {
    margin: 20px;
    padding: 5px;
}

footer, header {
    margin: 0px 0px;
    background-color: black;
    color: #E9E0CF;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #D59059;
    margin: 0px 0px;
}

#head {
    font-size: x-large;
    background-image: url("globe.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#head h1 {
    color: #4B493C;
    text-shadow: -2px -1px white;
}


@media only screen and (min-width: 1024px) {
    article {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    article {
        max-width: 60%;
        margin: auto;
    }
}
