body {
    background-color: #A67A57;
    color: #4B493C;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: larger;
}

/* Base styling ---------------------------------------------------------- */
#head {
    font-size: x-large;
    background-image: url("globe.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#head h1 {
    color: #4B493C;
    text-shadow: -2px -1px white;
}

footer, header {
    margin: 0px 0px;
    background-color: black;
    color: #E9E0CF;
    text-align: center;
    width: 100%;
}

nav {
    text-align: center;
    background-color: #A1A068;
    margin: auto;
    padding: 0px 0px;
    overflow: auto;
    box-shadow: 0px 2px 2px 2px #7E5D38;
}

.center-container {
    display: grid;
    grid: 50px / auto auto auto;
}

nav a{
    display: inline-grid;
    text-align: center;
    text-decoration: none;
    color: #4B493C;
    margin: 0px 0px;
    padding: 5px 5px;
    background-color: #D59059;
    display: block;
}

nav a:hover {
    color: #E9E0CF;
    background-color: #A67A57;
    transition-duration: 0.3s;
}

/* Index page styling ---------------------------------------------------------- */

article, #newpost {
    background-color: #ECD0AE;
    margin: 12px 12px;
    padding: 0;
    font-family: "Monda", sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px #7E5D38;
}

.title-box{
    background-color: #4B493C;
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 30px;
    color: #E9E0CF;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content-box{
    padding: 12px 12px;
    overflow: auto;
}

.sign {
    font-family: "Satisfy", cursive;
    text-align: right;
}

.space {
    margin: 20px;
    padding: 5px;
}

#id_title {
    border: none;
    background-color: #4B493C;
    color: #E9E0CF;
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 30px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

#id_post_content {
    font-size: larger;
    padding: 10px;
    background-color: #ECD0AE;
    width: 100%;
    border: none;
    border-top: 10px dotted #4B493C;
    border-bottom: 10px dotted #4B493C;
    overflow: auto;
}


select, .button{
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: large;
    background-color: #4B493C;
    color: #E9E0CF;
    cursor: pointer;
    border: none;
    padding: 8px 12px;
}

select, input[type=submit]{
    margin: 4px 12px;
}

.button:hover, select:hover{
    color: #4B493C;
    background-color: #E9E0CF;
    transition-duration: 0.3s;
}

.button {
    text-decoration: none;
}

.right-float {
    position: relative;
    top: -74px;
}

.right-float input{
    float: right;
}

.markdownx-preview{
    padding: 4px 12px;
}

#pages{
    width: 50%;
    list-style-type: none;
    margin: auto;
    padding: 4px 12px;
}

#pages li{
    box-sizing: border-box;
    float: left;
}

/* Gallery styling ---------------------------------------------------------- */
#upload-image {
    width: 80%;
    margin: auto;
}

.image-box img{
    height: 100px;
    float: left;
    box-sizing: border-box;
    margin: 4px 4px;
    transition: all 0.3s;
}

.image-box img:hover {
    transform: scale(1.28);
    transition: all 0.3s;
}

img {
    max-width: 100%;
}

/* Login form */
#login {
    padding: 12px 25%;
}

#login input {
    width: 100%;
}

/* Responsive design -------------------------------------------*/

@media only screen and (min-width: 1024px) {
    article, #newpost {
        max-width: 80%;
        margin: auto;
    }

    .content-box{
        padding: 12px 36px;
        overflow: auto;
    }
}

@media only screen and (min-width: 1600px) {
    article, #newpost {
        max-width: 60%;
        margin: auto;
    }
}
