{% load staticfiles %}

<!DOCTYPE html/>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <header>
            <h1> Dat amazing travel blog </h1>
            <p> Loggad in som {{ user }} </p>
        </header>

        <nav>
            <ul>
                <li><a href="{% url 'blog:index' %}">Startsida</a></li>
                <li><a href="{% url 'blog:gallery' %}">Galleri</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logga ut</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Logga in</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <p>Copyright &copy; Ruth Aleksandrauskaite</p>
            <p>Supported by Mårten Nilsson</p>
        </footer>

    </body>
</html>
