{% load staticfiles %}

<!DOCTYPE html/>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Monda|Satisfy&amp;subset=latin-ext" rel="stylesheet"> 
    </head>

    <body>
        <header id="head">
            <br /><br />
            <h1> EXPEDITION TÅGLUFF</h1>
            {% if user.is_authenticated %}
            <div class="sign space">
                <p> {{ user.first_name }} {{user.last_name}}
                <br /> {{ today | date:"Y-m-d"}} </p>
            </div>
            <br />
            {% else %}
            <br /><br />
            {% endif %}
        </header>

        <nav>
            <div class="center-container">
                <a href="{% url 'blog:index' %}">Startsida</a>
                <a href="{% url 'blog:gallery' %}">Galleri</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logga ut</a>
                {% else %}
                <a href="{% url 'login' %}">Logga in</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <br />
        <br />
        <footer>
            <br /><br /><br /><br />
            <p>Copyright &copy; Ruth Aleksandrauskaite &amp; Mårten Nilsson</p>
            <br />
        </footer>

    </body>
</html>
