{% extends 'base.html'%}

{% block title %} Resebloggen! {% endblock %}

{% block content %}
{% if user.is_authenticated %}


<form method="POST" action=""> {% csrf_token %}
    {{ post_form }}
    <input type="submit" value="Spara">
</form>

{{ post_form.media }}
{% endif %}

{% if posts %}
{% for post in posts %}
<article>
    <div class="title-box">
        <p class="title">{{post.title}}</p>
    </div>
    <div class="content-box">
        {{ post.formatted_markdown|safe }}
        <div class="sign">
            <p> {{ post.author.first_name }} {{post.author.last_name}}
            <br /> {{ post.pub_date.date | date:"Y-m-d"}} </p>
        </div>
    </div>
</article>
    {% endfor %}
{% else %}
    <p> Inga inlägg finns publicerade ännu. </p>
{% endif %}

{% endblock %}


